@model List<OctopusLabs.WordCounter.Core.DataTransferObjects.WordCountDto>
@{
    ViewData["Title"] = "Index";
}

<h2>List Of Counted Words</h2>
@{
    var index = 0;
}
@if (Model != null && Model.Any())
{
    <table class="table">
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Word</th>
            <th scope="col">Count</th>
        </tr>
        @foreach (var word in Model)
        {
        <tr>
            <td>@(++index)</td>
            <td>@word.Word</td>
            <td>@word.Count</td>
        </tr>
        }
    </table>
}
else
{
    <div class="h4">No Words Stored So Far.</div>
}
